@using Orchard.ContentManagement;
@using Orchard.Utility.Extensions;

@{
    if (Model.Title != null)
    {
        Layout.Title = Model.Title;
    }

    Model.Classes.Add("content-item");

    var contentTypeClassName = ((string)Model.ContentItem.ContentType).HtmlClassify();
    Model.Classes.Add(contentTypeClassName);


    var tag = Tag(Model, "article");

    string url = string.Empty;

    if (!string.IsNullOrEmpty(Model.ContentItem.GalleryEntryPart.CoverPicture.FileName))
    {
        url = Url.Content(Model.ContentItem.GalleryEntryPart.CoverPicture.FileName);
    }
    //else
    //{
    //    url = Model.Content.Items[0].Images[0].MediaUrl;
    //}



    var title = Model.ContentItem.TitlePart.Title;

    Style.Require("Rimango.Gallery.Overview");


}


@tag.StartElement
<div class="gallery-summary-entry">
    <a href="@Url.ItemDisplayUrl((IContent)Model.ContentItem.TitlePart)">
        <img class="unselected" src="@Display.ResizeMediaUrl(Path: url, Width: 340)" />
        <h3>@title </h3>
    </a>
</div>
@tag.EndElement

@using (Script.Foot())
{
    Script.Require("Rimango.Gallery.Overview");
}
